.my-card {
    border: none;
}

.user-name {
    font-weight: bold;
}

.comment-text {
    text-align: start;
    color: #7d7c7c;
}

.comment-body {
    background: #eff0f2;
    padding: 10px;
    border-radius: 5px;
}

.action-btn {
    font-size: 10px;
    color: #7d7c7c;
}

.three-dot {
    margin-right: 5px;
}

.load-more {
    font-size: 14px;
}

.text-area {
    background-color: #eee;
    color: #7d7c7c;
}