@media (max-width: 767px) {
    .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
    }
  
    .navbar-nav .nav-item {
      width: 100% !important;
      text-align: center;
    }
  
    .navbar-nav .nav-item button {
      width: 100%;
    }
  
    .navbar-nav #avatar {
      margin-top: 10px;
    }
  
    .navbar-nav #avatar button {
      margin: 0 auto;
      background-color: red;
    }
  }
  